.bg-body-tertiary{
    background-color: rgb(214, 185, 185);
}
.rounded {
    width:30vw;
    left: 40%;
    bottom: 10%;
    position: relative;
    border-style: solid;
    border-color: rgb(48, 47, 47);
    border-width: .1vw;
}
.row{
    align-items: left;
}

body{
    background-color: rgb(255, 255, 255);
}
.aboutme{
    float: left;
    display: inline-flex;
    flex-direction: column;
    z-index: 2;  
}
.aboutmecard{
 text-align: left;
 align-items: flex-start;
 display:inline-flex;

}

