/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/global.css ***!
  \************************************************************************************************************************************************************************************************************************************************************/
.bg-body-tertiary{
    background-color: rgb(214, 185, 185);
}
.container {
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
